
.navigation{

	 margin-top: 60px;
     margin-left: 60px;
     text-align: center;   
}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    color: black;
    text-decoration:none;
    font-size: 16px;
    font-family: "Lato";
    color: rgb(54, 54, 54);
    font-weight: bold;
    line-height: 15;
    text-align: center;


}



.navigation li {
    display: inline;
   
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
   /*  background-color: #6FB7E9; */
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    padding: 7px 15px 7px 15px;
    
}

.navigation li a:hover,
.navigation li.active a {
    background-color: black;
    color: white;
}
.blog-sidebar{}
