/*
Theme Name: Neutrino
Author: team blue
Description:  Blog template converted to WordPress
Version: 0.0.1
Tags: bootstrap
*/


.blog-nav li {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
}
.blog-nav li a {
    color: red;
}



.blog-post{
	margin-bottom: 100px;
	margin-top: 100px;
}

/* 
about us pic */
.avatar{
border-radius: 50%;

}

/* content image pic design */

.about_us{
	margin-top: 50px;
}
.image-content .alignnone{
	     height: 200px;
          width: 49%;
       /*  padding: 5px; */
}

.image-gallery .alignnone, .single-img-post .alignnone{
        height: 200px;
        width: 49%;
        padding-bottom: 10px;

         /*  padding: 5px; */
}


/* tag */
.tagcloud a{
	    font-size: 18pt;
        color: black;
        font-weight: 700;
        padding: 5px;
}

.tagcloud a:hover{
	    background: black;
	    color: white;
	    text-decoration: none;
}


/* catagory */

.widgettitle{
	text-align: center;
	margin-top: 50px;
}

ul li.cat-item{
	list-style: none;
	text-align: center;
}

#tag_cloud-3{
	list-style: none;
}



ul li.cat-item a{
 color: black;
 font-weight: 700;

}

ul li.cat-item a:hover,ul li.current-cat a{
 color: red;
  text-decoration: none;
}

#categories-4{
	list-style: none;
}
/* end of catagoty */






   /* start of navigation menu */

/*custom menu*/

#bar ul{
    list-style:none;
    margin:0;
    padding:0;
    text-align: center;
    margin: 40px 0px 36px 0px ;

}

#bar ul li{
    float:left;
    width: auto;
}

#bar ul li a{ 
    color:black;
    display:block;
    padding:0px 15px;
    text-decoration:none;
    font-size:18px;
    font-family:Karla;
    text-transform:uppercase;

}

#bar ul li:hover>a{
    background-color: black;
    color:white;

}

#bar ul .current-menu-item a{
    background-color: green;
    color:white;

}

/* sub element */
.menu .sub-menu {
    left:auto;
    position: absolute;
    top: 28px;
    visibility: hidden;
    margin-top: -1px;
}

.menu li:hover .sub-menu {
    visibility: visible;

}
#bar:hover .menu {
    display: block;
}
.sub-menu li a:hover{
	color: red;
}
.social_icon_wrap{
    margin: 40px 0px 36px 0;
}
.social_icon_wrap a
{

}
/* end */

/*custom menu home page*/

.home_page a{
    color:black;
    display:block;
    padding:10px 10px;
    text-decoration:none;
    font-size:16px;
    font-family:tahoma;
    text-transform:uppercase;
}

.home_page a:hover{
    background-color: black;
    color:white;
    text-decoration:none;
}

.site-logo{
    margin: 40px 0 36px 0px;
}
/* end */


/* end of navigation menu */


/* for all post format */
.blog-post{
    width: 85%;
}
/* end of it */

/* quote format styling: */

.quote-content{
    background: #fafafa;
    padding-top: 25px;
  padding-bottom: 19px;
  padding-left: 30px;
  padding-right: 30px;
      
}

.quote-post{
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(149, 149, 149);
  line-height: 3;
  text-align: center;
 
}
.quote-content .author-link,.quote-content .time-catagory,.quote-content a{
  color: black;
}

.quote-content a:hover{
  color: black;
}


.quote-post-content a{
  color: #a5a5a5;
  font-size: 38px;
  font-family: "Karla";
  color: rgb(137, 137, 137);
  font-weight: bold;
  line-height: 1.263;
  text-align: center;
}

.quote-post-content a:hover{
  color: #a5a5a5;
}

.quote-title{
  font-size: 18px;
  font-family: "Karla";
  color: rgb(54, 54, 54);
  font-style: italic;
  line-height: 2.667;
  text-align: right;
}

/* end of quote format styling: */


/*  start video format styling: */
.video-post{
  color: #afafaf;
  padding-top: 20px;
}

.video-content .author-link,.video-content .time-catagory,.video-content a{
  color: black;
}

.video-content a:hover{
  color: black;
}

.video-title{
   padding-top: 45px;
}

.video-title a{
  font-size: 38px;
  font-family: "Karla";
  color: rgb(54, 54, 54);
  font-weight: bold;
  line-height: 1.263;
}

/* end of video format styling */

/* start audio format style: */

 .audio-post{
  color: #afafaf;
  padding-top: 40px;
}

.audio-content .author-link,.audio-content .time-catagory,.audio-content a{
  color: black;
}

.audio-content a:hover{
  color: black;
}

.audio-title{
    padding-top: 40px;
}

.audio-title a{
  font-size: 38px;
  font-family: "Karla";
  color: rgb(54, 54, 54);
  font-weight: bold;
  line-height: 1.263;
}
/* end of audio format style */

/* start of gallery format style: */

 .gallery-post{
  color: #afafaf;
  padding-bottom:42px;
 }

.gallery-content .author-link,.gallery-content .time-catagory,.gallery-content a{
  color: black;
                                                                                }

.gallery-content a:hover{
  color: black;
}

.gallery-title{
  padding-bottom: 35px;
}                        

.gallery-title a{
  font-size: 38px;
  font-family: "Karla";
  color: rgb(54, 54, 54);
  font-weight: bold;
  line-height: 1.263;
}

/* end of gallery format style */


/* start of image format style: */
.image-post{
  color: #afafaf;
  padding-top: 18px;
}

.image-content .author-link,.gallery-content .time-catagory,.image-content a{
  color: black;
                                                                                }

.image-content a:hover{
  color: black;
}

 .image-title a{
     font-size: 38px;
     font-family: "Karla";
     color: rgb(54, 54, 54);
     font-weight: bold;
     line-height: 1.263;
 }

 .image-title{
     padding-top: 17px;
     padding-bottom: 46px;
 }

  /* read more buton */
.read_more{
    color: #c64a65;
    border: 1px solid #c64a65;
    border-radius: 25px;
    margin-top: 27px;
    font-size: 16px;
    font-family: "Karla";
    color: rgb(179, 15, 50);
    text-transform: uppercase;
    line-height: 1.5;
    padding: 8px;

}

.read_more:hover{
    text-decoration: none;
    color: green;
    border: 1px solid green;
}  

.alignright{
    float: right;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}       

.alignleft{
    float: left;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
} 

.aligncenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}            
/* end of image format style */

/* start of link format style: */

 .link-post{
    color: #afafaf;
    padding-top: 18px;
 }

.link-content .author-link,.link-content .time-catagory,.link-content a{
    color: black;
                                                                                }

.link-title a:hover{
    color: black;
}

.link-title{
    padding-bottom: 35px;
}                        

.link-title a{
    font-size: 38px;
    font-family: "Karla";
    color: rgb(54, 54, 54);
    font-weight: bold;
    line-height: 1.263;
}

/* end of link format style */

/* start of aside format style: */

 .aside-post{
    color: #afafaf;
    padding-bottom:16px;
              }

.aside-content .author-link,.aside-content .time-catagory,.aside-content a{
    color: black;
                                                                                }

.aside-content a:hover{
    color: black;
}

.aside-title{
    padding-bottom: 45px;
}                        

.aside-title a{
    font-size: 38px;
    font-family: "Karla";
    color: rgb(54, 54, 54);
    font-weight: bold;
    line-height: 1.263;
}

/* end of aside format style */

/* start of chat format style: */

.chat-title{
    padding-bottom: 35px;
}                        

.chat-title a{
    font-size: 38px;
    font-family: "Karla";
    color: rgb(54, 54, 54);
    font-weight: bold;
    line-height: 1.263;
}

/* end of chat format style */

/* start of status format style: */

.status-post{
    color: #afafaf;
    padding-bottom:20px;
              }

.status-content .author-link,.status-content .time-catagory,.status-content a{
  color: black;
                                                                                }

.status-content a:hover{
  color: black;
                        }

.status-title{
  padding-bottom: 35px;
}                        

.status-title a{
  font-size: 38px;
  font-family: "Karla";
  color: rgb(54, 54, 54);
  font-weight: bold;
  line-height: 1.263;
}

/* end of status format style */

/* start of default format style: */

 .default-post{
    color: #afafaf;
    padding-bottom:20px;
 }

.default-content .author-link,.default-content .time-catagory,.default-content a{
    color: black;
}

.default-content a:hover{
    color: black;
}

.default-title{
    padding-bottom: 42px;
}                        

.default-title a{
    font-size: 38px;
    font-family: "Karla";
    color: rgb(54, 54, 54);
    font-weight: bold;
    line-height: 1.263;
}

/* end of default format style */

.alignnone{
  width: 100%;
}

.wp-caption>img{
  width:50%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

thead th {
    background-color: #4CAF50;
    color: white;
}

pre{
  background: #fff7e6;
}

a#site-logo>img{
    width: 100%;
    margin: 40px 0 36px 0px;
}


.footer-wrap{
    background-color: #252525;
    color: white;
}
#footer-bar ul{
    list-style:none;
    margin:0;
    padding:0;
    text-align: center;
    margin: 40px 0px 36px 0px ;
}

#footer-bar ul li{
    float:left;
    width: auto;
}

#footer-bar ul li a{
    display:block;
    padding:0px 15px;
    text-decoration:none;
    font-size:18px;
    font-family:Karla;
    text-transform:uppercase;
    color: white;
}

#footer-bar ul li:hover>a{
    background-color: black;
}

#footer-bar ul .current-menu-item a{
    background-color: red;

}